* {
  outline: 0 !important;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  line-height: 1.5;
}

html,
body {
  outline: none;
}

p {
  width: inherit; /* width: 100px; */
  white-space: pre-wrap;
}
