* {
  outline: 0 !important;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  line-height: 1.5;
  scroll-behavior: smooth;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
html,
body {
  outline: none;
  overflow-x: hidden;
}

p {
  width: inherit; /* width: 100px; */
  white-space: pre-wrap;
}
